*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --primary: #2acfcf;
  --secondary: #3b3054;
  --tertiary: #f46262;

  --grey: #bfbfbf;
  --grey-darker: #9e9aa7;
  --dark-blue: #35323e;
  --dark-violet: #232127;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* General */

.btn--small {
  background-color: var(--primary);
  border-radius: 25px;
  text-align: center;
  padding: 9px 21px;
  font-weight: 500;
}

.btn--big {
  border-radius: 25px;
  padding: 9px 42px;
  font-weight: 500;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  filter: brightness(110%);
  transform: scale(1.1);
  transition: all 0.2s;
}

.btn-primary:active {
  filter: brightness(110%);
  transform: scale(1);
  transition: all 0.2s;
}

.btn-primary:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.filter-svg {
  width: 110px;
  filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(131deg)
    brightness(114%) contrast(100%);
}

.line--2 {
  display: none;
}

/* Navbar-Section */
.nav-link {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
}

.nav-link.btn--small:last-child {
  color: var(--white);
}

.nav-link:hover {
  color: var(--black);
}

.navbar {
  padding: 30px 120px 0px 120px;
}

/* Header-Section */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__content {
  margin-top: 150px;
  margin-left: 120px;
}

.header__image {
  margin-top: 50px;
}

.header__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.header__text {
  color: var(--grey);
  width: 84%;
  margin-bottom: 30px;
}

/* CreateShortenLink-Section */

.shorten__form {
  position: relative;
  background-image: url(/images/bg-shorten-desktop.svg);
  background-color: var(--secondary);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  height: 140px;
  margin: 60px 120px;
  margin-bottom: 22px;
  display: grid;
  grid-auto-columns: 70% 30%;
  align-items: center;
  justify-items: center;
}

.shorten__input {
  width: 85%;
  height: 60px;
  grid-column: 1;
  border-radius: 6px;
  padding-left: 20px; /* changes distance between text and border left */
  border: none;
}

.shorten__focus-message {
  position: absolute;
  bottom: 0%;
  left: 6%;
  color: var(--tertiary);
  font-size: 0.75rem;
}

#input__placeholder--color::placeholder {
  color: var(--tertiary);
}

.shorten__input:focus {
  outline: 1px solid var(--tertiary);
  box-shadow: 0px 0px 0px 2px #f46262;
}

.shorten__button {
  width: 65%;
  height: 58px;
  grid-column: 2;
  border-radius: 6px;
}

/* ShortenLink-Section */

.link__box {
  background-color: var(--white);
  display: grid;
  margin: 0 120px;
  margin-top: 15px;
  height: 70px;
  grid-auto-columns: 50% 30% 20%;
  border-radius: 6px;

  align-items: center;
  justify-items: center;
}

.link__text--initial {
  grid-column: 1;
  margin: 0;
  margin-left: 20px;
}
.link__text--shorten {
  color: var(--primary);
  grid-column: 2;
  margin: 0;
  justify-self: end;
}

.link__button {
  grid-column: 3;
  width: 50%;
  border-radius: 6px;
}

.btn-primary.link__button:hover {
  filter: brightness(110%);
}

/* Main-Section */

.main__section {
  background-color: #f0f1f6;
  padding-bottom: 1px;
}

/* Statistic-Section */
.statistic {
  display: flex;
  flex-direction: column;
  margin: 140px 120px 0 120px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.statistic__title {
  font-weight: 700;
  font-size: 2.5rem;
}

.statistic__content {
  color: var(--grey-darker);
  width: 44%;
}

/* Card-Section */

.card__container {
  display: grid;
  position: relative;
  grid-template-columns: 30% 30% 40%;
  grid-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.line {
  background-color: var(--primary);
  position: absolute;
  top: 44%;
  width: 90%;
  height: 8px;
  z-index: 0;
}

.card__box.card--detailed {
  margin-top: 50px;
}

.card__box.card--customizable {
  margin-top: 100px;
}

.card__box {
  position: relative;
  background-color: var(--white);
  height: 270px;
  width: 377px;
  z-index: 1;
}

.card__icon-box {
  position: absolute;
  top: -13%;
  left: 8%;
  background-color: var(--secondary);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card__icon {
  height: 40px;
  width: 40px;
}
.card__title {
  padding: 75px 34px 0 34px;
  font-weight: 700;
  font-size: 1.5rem;
}

.card__content {
  padding: 0 34px 0 34px;
  color: var(--grey);
}
/* CallToAction-Section */

.cta__banner {
  background-image: url(/images/bg-boost-desktop.svg);
  background-color: var(--secondary);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 50px 0;
  text-align: center;
}

.cta__title {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 28px;
}

/* Footer-Section */

footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: auto;
  background-color: var(--dark-violet);
  padding: 60px 120px;
}

.footer__links {
  color: var(--grey-darker);
  text-decoration: none;
  list-style: none;
}

.footer__link.title {
  color: var(--white);
  margin-bottom: 15px;
}

.footer__link {
  margin-bottom: 5px;
}

.footer__socials {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer__link--social {
  color: var(--white);
  margin-right: 18px;
}

.footer__link--social:hover,
.footer__link:not([class*="title"]):hover {
  color: var(--primary);
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 1385px) {
  .card__container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 100px 20px 40px 20px;
  }

  .line {
    width: 1%;
    height: 79%;
    top: 0;
  }
}

@media only screen and (max-width: 935px) {
  :root {
    font-size: 18px;
  }

  .navbar {
    padding: 30px 20px 0px 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .header__image {
    grid-row: 1;
    width: 80%;
  }

  .header__content {
    margin: 20px 0;
    padding: 0 20px;
  }

  .header__text {
    width: 100%;
  }

  .shorten__form {
    grid-template-columns: 1fr;
    height: 260px;
    margin: 60px 20px;
    margin-bottom: 22px;
  }

  .shorten__input {
    grid-row: 1;
    width: 80%;
  }
  .shorten__button {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
  }

  .link__box {
    position: relative;
    grid-auto-columns: 1fr;
    margin: 0 20px;
    padding: 15px;
    height: 180px;
  }

  .link__text--initial {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    margin-left: 20 px;
    justify-self: self-start;
  }

  .line--2 {
    display: block;
    top: 32%;
    width: 100%;
    border-bottom: 2px solid #f0f1f6;
    position: absolute;
  }

  .link__text--shorten {
    grid-column: 1;
    justify-self: self-start;
    grid-row: 2;
  }

  .link__button {
    grid-column: 1;
    grid-row: 3;
    width: 94%;
  }

  .statistic {
    margin: 140px 20px 0 20px;
  }

  .statistic__content {
    width: 100%;
  }

  .card__container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin: 100px 20px 40px 20px;
  }
  .card__box {
    width: 100%;
  }

  .card__box.card--customizable {
    margin-top: 50px;
  }

  .line {
    width: 1%;
    height: 79%;
    top: 0;
  }

  footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .filter-svg {
    margin-bottom: 60px;
    text-align: center;
  }

  .footer__links {
    text-align: center;
    padding-left: 0;
    margin-bottom: 40px;
  }
}

/* 433 */
